
.chezmoiscripts/todo/**


{{ if ne .chezmoi.os "linux" }}
.config/awesome
.config/dunst
.config/fcitx5
.config/hypr
.config/keyd
.config/mako
.config/readline
.config/rofi
.config/swaylock
.config/waybar
.config/wlogout
.config/krunnerrc
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/libvirt
.local/share/kio/
{{ end }}

{{ if eq .chezmoi.os "linux" }}
{{ if ne .chezmoi.osRelease.id "arch" }}
.config/*-flags.conf
{{ end }}
{{ if eq .chezmoi.osRelease.id "nixos" }}
.config/bash
.config/bat
.config/doom
.config/dunst
.config/fastfetch
.config/fcitx5
.config/fish
.config/zsh
.config/lsd
.config/keyd
.config/readline
.config/krunnerrc
.bashrc
.local/share/kio
{{ end }}
{{ end }}

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**
Library
.config/karabiner
.config/sketchybar
.config/skhd
.config/yabai
.config/powershell
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.gitconfig
.glzr
.wslconfig
.wslgconfig
Appdata/
{{ end }}
