### Movement
# move_left   h
move_down   n
move_up     e
# move_right  i

move_visual_mark_up e
move_visual_mark_down n

screen_down N
screen_up   E

## Zoom

zoom_in =


### Search
next_item   k
previous_item K


### Toggles
toggle_fullscreen    ,f
toggle_custom_color  ,d
# toggle_dark_mode     D
toggle_dark_mode     ,D
## SyncTeX for LaTeX
toggle_synctex       ,s

# Mark
goto_mark '


### Misc
quit    Q

copy    y

goto_toc   <tab>
