# $DOTFILES/common/gitconfig.example
# Date: 2024-12-22
# Author: js0ny

# Location:
# Windows: %USERPROFILE%\.gitconfig
# *nix: ~/.config/git/config
# Linking: (Note that this file is an example, only copy this then edit)
# cp $DOTFILES/common/gitconfig.example ~/.config/git/config
[user] # Modify the name and email
	name = whoami
	email = whoami@example.com
[alias]
	cl = clone
	clnh = clone --depth 1
	cma = commit -am
	logs = log --oneline --graph --decorate --all
	last = log -1 HEAD
	undo = reset --hard HEAD
[core]
	editor = nvim
	pager = delta
	autocrlf = input
	safecrlf = true
	excludesfile = $XDG_CONFIG_HOME/git/ignore
	quotePath = false # zh-CN: 解决中文路径问题
	eol = lf
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$MERGED\" \"$REMOTE\""
[color]
	ui = auto
[pull]
	ff = only
[init]
	defaultBranch = master
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
# Force ssh
# [url "git@github.com:"]
# 	insteadOf = https://github.com/
[url "git@codeberg.org:"]
	insteadOf = https://codeberg.org/