# $DOTFILES/common/gitconfig.example
# Date: 2024-12-22
# Author: js0ny

# Location:
# Windows: %USERPROFILE%\.gitconfig
# *nix: ~/.config/git/config
# Linking: (Note that this file is an example, only copy this then edit)
# cp $DOTFILES/common/gitconfig.example ~/.config/git/config
[user] # Modify the name and email
	name = whoami
	email = whoami@example.com
[core]
	editor = nvim
	pager = delta
	autocrlf = input # Force End of Line in different platforms
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
    defaultBranch = master

# [url "git@github.com:"] # Force ssh
# 	insteadOf = https://github.com/
