<!-- $XDG_CONFIG_HOME/NuGet/NuGet.Config -->
<!-- $Env:APPDATA/NuGet/NuGet.Config -->

<!-- https://learn.microsoft.com/en-us/nuget/reference/nuget-config-file -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>